services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: projeto_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
